@import "scss_src/reboot";

$section_width: 80%;



$color_1: #56ccc8;
$bgcolor_1: #152840;

a {
    color: unset;
    &:hover {
        color: $color_1;
        text-decoration: none;
    }
}

body {
    background-color: #4a647f;
    font-family: 'Roboto', sans-serif;

    //padding: 3rem;
}
header {
    width: $section_width;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    nav {
        display: flex;
        background-color: white;
        flex-wrap: wrap;
        align-items: center;
        $height: 3rem;
        min-height: $height;
        font-size: 75%;
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: $height;
            height: $height;
            background-color: $color_1;
            padding: 1rem;
            .line {
                height: 15%;
                width: 100%;
                margin-top: 15%;
                border-radius: 0.1rem;
                background-color: white;
            }
            .line:first-of-type {
                margin-top: 0;
            }
        }
        a {
            color: black;
        }
        .links, .share {
            margin-bottom: 0;
            list-style-type: none;
            padding: 0;
            display: flex;
        }
        .links {
            flex-wrap: wrap;
            > * {
                padding-left: 1rem;
                padding-right: 1rem;
                a:hover {
                    color: $color_1;
                    text-decoration: none;
                }
            }
        }
        .search {
            margin-right: 1rem;
            &::before {
                content: url('icons/search.svg');
            }
        }
        .right {
            //height: $height;
            flex: 1 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            //padding: 1rem;
        }
        .share {
            border-left: 1px solid lightgray;
            height: $height;
            display: flex;
            align-items: center;
            > * {
                padding-left: 1rem;
            }
            padding-right: 1rem;
        }
        .account {
            border-left: 1px solid lightgray;
            height: $height;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
            &::before {
                content: url('icons/login.svg');
            }
        }
    }
}

.icon {
    &[data-icon="facebook"] {
        &::before {
            content: url('icons/facebook.svg');
        }
    }
    &[data-icon="googleplus"] {
        &::before {
            content: url('icons/googleplus.svg');
        }
    }
    &[data-icon="twitter"] {
        &::before {
            content: url('icons/twitter.svg');
        }
    }
    &[data-icon="home"]::before {
        content: url('icons/home.svg');
    }
    &[data-icon="shop"]::before {
        content: url('icons/shop.svg');
    }
    &[data-icon="note"]::before {
        content: url('icons/note.svg');
    }
    &[data-icon="users"]::before {
        content: url('icons/users.svg');
    }
    &[data-icon="trophy"]::before {
        content: url('icons/trophy.svg');
    }
    &[data-icon="info"]::before {
        content: url('icons/info.svg');
    }
    &[data-icon="email"]::before {
        content: url('icons/email.svg');
    }
    &[data-icon="phone"]::before {
        content: url('icons/phone.svg');
    }
    &[data-icon="pointer"]::before {
        content: url('icons/pointer.svg');
    }
    &[data-icon="email"]::before {
        content: url('icons/email.svg');
    }
    &[data-icon="email-white"]::before {
        content: url('icons/email-white.svg');
    }
    &[data-icon="facebook_circle"]::before {
        content: url('icons/facebook_circle.svg');
    }
    &[data-icon="twitter_circle"]::before {
        content: url('icons/twitter_circle.svg');
    }
    &[data-icon="googleplus_circle"]::before {
        content: url('icons/googleplus_circle.svg');
    }
    &[data-icon="rss_circle"]::before {
        content: url('icons/rss_circle.svg');
    }
    &[data-icon="pinterest_circle"]::before {
        content: url('icons/pinterest_circle.svg');
    }
    &[data-icon="linkedin_circle"]::before {
        content: url('icons/linkedin_circle.svg');
    }
}

.arow {
    width: $section_width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 0.5rem;
    > * {
        flex: 1 0 auto;
    }
}

.sidemenu {
    background-color: #c5cdd1;
    min-width: 24%;
    //font-size: 0.8rem;
    .menu {
        background-color: white;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        margin: 0;
        padding: 0;
        > li {
            padding: 0.5rem;
            padding-left: 3rem;
            border-bottom: 1px solid lightgray;
            position: relative;
            @extend .icon;
            &::before {
                display: block;
                content: "";
                position: absolute;
                left: 0rem;
                width: 3rem;
                text-align: center;
            }
            &:hover {
                background-color: #56ccc8;
                color: white;
                &::before {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    .contacts {
        color: white;
        margin: 0;
        list-style-type: none;
        padding-left: 0;
        
        > li {
            padding: 0.5rem;
            padding-top: 1rem;
            padding-left: 3rem;
            border-bottom: 1px solid lightgray;
            position: relative;
            display: flex;
            align-items: center;
            border: 0;
            &::before {
                //content: "";
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                //top: -0.25rem;
                left: 0rem;
                width: 3rem;
                height: 100%;
                text-align: center;
            }
        }
    }
}

.submenu {
    min-width: 25%;
    background-color: $bgcolor_1;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    a {
        border-bottom: 1px solid #49657d;
        display: block;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &:hover {
            background-color: #263a54;
        }
    }
    &, a {
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
    .submenu_title {
        color: $color_1;
        &::after {
            display: block;
            content: url(icons/arrow.svg);
            float: right;
            margin-right: 1rem;
        }
    }
    > li ul {
        list-style-type: none;
        padding-left: 0;
    }
}
.contact_widgets {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    .social_row {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        .social_widgets {
            margin-left: 1rem;
             
            > * {
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            //flex: 1 0 auto;
            display: flex;
            flex-direction: column;
        }
    }
}
.social_menu {
    flex: 1 1;
    list-style-type: none;
    background-color: white;
    padding-left: 0;
    padding-right: 1rem;
    margin-bottom: 0;
    > li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        position: relative;
        a {
            display: block;
        }
        a::before {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
            content:"";
        }
        a:hover {
            $color: #4fc6f8;
            color: $color;
            &::before {
                $hue: hue($color);
                filter: brightness(60%) url(filter.svg#blue);
            }
        }
        
    }
}
.sign_in_widget, .join_newsletter_widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    .widget_title {
        font-size: 24pt;
    }
    .widget_text_small {
        font-size: 12pt;
    }
}
.sign_in_widget {
    .sign_in_icons {
        display: flex;
        > * {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }

            &[data-icon="facebook_circle"]::before {
                filter: brightness(60%) url(filter.svg#facebook);
            }
            &[data-icon="twitter_circle"]::before {
                filter: brightness(60%) url(filter.svg#twitter);
            }
            &[data-icon="googleplus_circle"]::before {
                filter: brightness(55%) url(filter.svg#googleplus);
            }
        }
    }
}
.join_newsletter_widget {
    form {
        display: flex;
        justify-content: stretch;
        width: 100%;
        input {
            $bgcolor: #dce1e4;
            border: 1px solid $bgcolor;
            padding: 0.5rem;
            flex: 1 1;
        }
        button {
            margin-left: 1rem;
            background-color: #ea6060;
            border: 0;
            border-radius: 0.2rem;
            color: white;
            padding: 0.5rem;
            outline: 0;
        }
    }
}